<?xml version="1.0"?>

<log4net>
  <!-- Declaration of appenders -->
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <threshold value="DEBUG" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <threshold value="DEBUG" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level - %message%newline" />
    </layout>
    <mapping>
      <level value="TRACE" />
      <forecolor value="White" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <forecolor value="Cyan" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <forecolor value="Green" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <forecolor value="Yellow" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <forecolor value="Red" />
    </mapping>
    <mapping>
      <level value="FATAL" />
      <forecolor value="Red, HighIntensity" />
    </mapping>
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="DEBUG" />
    <file value="log\log.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <!--
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <threshold value="WARN"/>
    <applicationName value="SVB Ticker" />
    <logName value="SVB Ticker" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
    </layout>
  </appender>
  -->

  <root>
    <level value="DEBUG" />
    <!--appender-ref ref="TraceAppender" /-->
    <appender-ref ref="ConsoleAppender" />
    <!--appender-ref ref="RollingFileAppender" /-->
    <!--appender-ref ref="EventLogAppender" /-->
  </root>

  <!-- Autofac messages are not that important -->
  <!--  <logger name="Autofac">-->
  <!--    <level value="WARN" />-->
  <!--  </logger>-->

</log4net>